*.sw[a-p]
*.o
*~
*.chr
/robotfindskitten.nes
/obj/nes/*.s
/zip.in
*.nes.deb
/map.txt
__pycache__/
*.pyc
/robotfindskitten-*.zip
/robotfindskitten.dbg
/tools/dte
/tools/dte.exe

# this is NES homebrew, not DSiWare
*.DS_Store


